<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>검색결과</title>
    <!-- 제이쿼리 -->
    <script
      src="https://code.jquery.com/jquery-3.6.2.min.js"
      integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA="
      crossorigin="anonymous"
    ></script>
    <!-- 폰트 어썸 -->
    <script
      src="https://kit.fontawesome.com/67eff22c15.js"
      crossorigin="anonymous"
    ></script>
    <!-- main css -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- main.js -->
    <script src="/js/main.js"></script>
  </head>
  <body>
    <div class="max_width_wrap">
      <!-- 타이틀 제목 -->
      <h1 class="title">검색결과</h1>
      <!-- 목록 이름 -->
      <div class="table_info_title">
        <p class="info_title_1">ID</p>
        <p class="info_title_2">이름</p>
        <p class="info_title_3">나이</p>
        <p class="info_title_4">성별</p>
        <p class="info_title_5">연락처</p>
        <p class="info_title_6"></p>
      </div>
      <!-- 검색 결과 -->
      <ul class="user_info">
        <li>
          <p class="info_1"><%= searchId %></p>
          <p class="info_2"><%= searchName %></p>
          <p class="info_3"><%= searchAge %></p>
          <p class="info_4"><%= searchSex %></p>
          <p class="info_5"><%= searchContact %></p>
          <!-- delete -->
          <form
            class="info_6"
            action="/delete/<%= searchId %> "
            method="post"
            onsubmit="let result2 = confirm('삭제하시겠습니까?');if(!result2) return false;"
          >
            <button class="first_del_btn">삭제</button>
            <div class="delete_pwd_wrap">
              <input
                type="password"
                name="delete_pwd"
                placeholder="비밀번호"
                required
                maxlength="4"
              />
              <button type="submit">삭제</button>
            </div>
          </form>
        </li>
      </ul>
      <nav>
        <a class="search_btn" href="/">돌아가기</a>
      </nav>
    </div>
  </body>
</html>
